section.section.principles
	.principles__bg-image
		+img("Operating Principles.png", 'Principles Background', 'principles-bg', false)
	.container
		.row
			.col-12
				.principles__content
					h2.principles__title.typography-heading-gold Principles before opportunity.
					p.principles__description.typography-body-light-black
						| Principles guide every decision we make.
						br
						| They are the foundation of our work:
		.row.principles__grid
			.col-12.col-md-4
				.principles__image-wrapper
					+img("principles (1).png", 'Principle 1', 'principles__image', true)
					.principles__hover-text We take action when the direction is clear.
					.principles__overlay
						+img("subtract.svg", 'Principle 1', 'principles-arrow', true)
			.col-12.col-md-4
				.principles__image-wrapper
					+img("principles (2).png", 'Principle 2', 'principles__image', true)
					.principles__hover-text We only move when we believe in what we are building.
					.principles__overlay
						+img("subtract.svg", 'Principle 2', 'principles-arrow', true)
			.col-12.col-md-4
				.principles__image-wrapper
					+img("principles (3).png", 'Principle 3', 'principles__image', true)
					.principles__hover-text We make sure everyone is aligned before we begin.
					.principles__overlay
						+img("subtract.svg", 'Principle 3', 'principles-arrow', true)
		.row.principles__grid
			.col-12.col-md-6
				.principles__image-wrapper
					+img("principles (4).png", 'Principle 4', 'principles__image', true)
					.principles__hover-text We design to last.
					.principles__overlay
						+img("subtract.svg", 'Principle 4', 'principles-arrow', true)
			.col-12.col-md-6
				.principles__image-wrapper
					+img("principles (5).png", 'Principle 5', 'principles__image', true)
					.principles__hover-text We follow through, every time.
					.principles__overlay
						+img("subtract.svg", 'Principle 5', 'principles-arrow', true)
