section.section.who-we-are
	.who-we-are__bg-image
		+img("whoweare.png", 'Who We Are Background', 'who-we-are-bg', false)
	.container
		.row.align-items-center
			.col-12.col-lg-8
				.who-we-are__content
					h2.who-we-are__title.typography-heading-white Bold decisions, <br class="d-lg-none"> built to hold.
					p.who-we-are__description.typography-body-light-white
						| We create with purpose. Every line drawn, every detail chosen, is part of a deliberate process to deliver work that holds its worth over time. Our Initiatives serve people, strengthen the future, and honour the trust placed in our name.