:root {
	--red: #d50032;
	--darkBlue: #263743;
	--darkBlue2: #1c2e3c;
	--darkBlue3: #223647;
	--darkBlue50: rgba(34, 54, 71, 50%);
	--white: #fff;
	--white-40: rgba(255, 255, 255, 40%);
	--white-80: rgba(255, 255, 255, 80%);
	--grey: #e8e7e7;
	--grey2: #efefef;
	--grey3: #d3d3d3;
	--grey4: #f3f2f2;
	--lightgrey: #f6f5f5;
	--golden: #857550;
	--lightGolden: #b6aa99;
	--blue: #0095c8;
	--black: #000;
	--cyan: #1795c8;
	--headerHeight: 90px;
	// --toolsHeight : 350px;
}

@include media-breakpoint-down(xl) {
	:root {
		--headerHeight: 70px;
	}
}

// @media (max-width: 1500px){
// 	:root {

// 		--toolsHeight: 200px;

// 	}
// }

body {
	// background: $black;
	color: $darkBlue;
	overflow-x: hidden;
	direction: ltr;
	font-family: $font-body;

	&.loading {

		&:after,
		&::before {
			background: #ffffff60;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: "";
			z-index: 999;
		}

		&::before {
			background: url(../images/loader.gif) no-repeat center center;
			z-index: 1000;
		}
	}
}

main {
	// margin-top: -114px;

	// @include media-breakpoint-down(lg) {
	// 	margin-top: 0px;
	// }
}

a {
	color: #B3975F;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
	color: inherit;
	text-decoration: none;
}

main {
	// margin-top: var(--headerHeight);
}

html {
	font-size: 16px;

	scroll-behavior: smooth;

	/* accessibility base font sizes */
}

:focus,
button:focus {
	outline: none;
}

img {
	max-width: 100%;
}

strong {
	font-weight: bold;
}

input {
	border: 0 solid transparent;
	outline: none;
	background: $white;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&[type="number"] {
		-moz-appearance: textfield;
	}
}

input::-ms-clear {
	display: none;
}

// .section {

// 	padding: 60px 0;

// 	@include media-breakpoint-down(lg) {
// 		padding: 40px 0;
// 	}

// }

.flipped {
	transform: scale(-1);
}

.darkblue-bg {
	background-color: $darkBlue;
}

.blue-bg {
	background-color: $blue;
}

.lightGolden-bg {
	background-color: $lightGolden;
}

.golden-bg {
	background-color: $golden;
}

.red-bg {
	background-color: $red;
}

.white-bg {
	background-color: $white;
}

.white-40-bg {
	background: #ffffff40;
}

.white-80-bg {
	background-color: $white-80;
}

.grey-bg {
	background-color: $white-40;
}

.pt-130 {
	padding-top: 130px;
}

.ttu {
	text-transform: uppercase;
}

.text {
	&-center {
		text-align: center;
	}

	&-white {
		color: white;
	}
}

.scroll-h {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;

	&__scroll-inner {
		display: inline-flex;
		flex-direction: column;
		flex: 0 0 auto;
	}
}

.sec-name {
	color: #FFF;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 125%;
	text-transform: uppercase;
}

.mt-24 {
	margin-top: 24px;
}

.mb-24 {
	margin-bottom: 24px;
}


.container {
	@include media-breakpoint-down(lg) {
		padding-left: 40px;
		padding-right: 40px
	}

	@include media-breakpoint-down(md) {
		padding-left: 20px;
		padding-right: 20px
	}

	@include media-breakpoint-up(xl) {
		max-width: 1304px;
	}
}

.disabled {
	pointer-events: none;
}

.text-lg-right {
	@include media-breakpoint-up(lg) {
		text-align: right;
	}
}

.border-b-0 {
	border-bottom: 0px !important;
}

@include media-breakpoint-up(lg) {
	.border-bottom-white {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
	}

	.border-none {
		border: 0px !important;
		border: none !important;
	}
}

@include media-breakpoint-down(lg) {
	.border-bottom-white-mobile {
		border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
	}

}

.align-end{
	text-align: end;
}