/* https://fluidbuilder.webflow.io/?design=27&max=27&min=21.5&g=--font-mob-32-to-24,2,1.5_--space-mob-24-to-16,1.5,1_--font-mob-18-to-24,1.125,0.875,t */

/* fallback for older browsers */
:root {
	--font-mob-32-to-24: 2rem;
	--space-mob-24-to-16: 1.5rem;
	--font-mob-18-to-24: 1.125rem;
}
@media screen and (max-width: 767px) {
	:root {
		--font-mob-32-to-24: 1.5rem;
		--space-mob-24-to-16: 1rem;
		--font-mob-18-to-24: 0.875rem;
	}
}

/* fluid sizes */
@supports (font-size: clamp(1rem, 0.5rem + 3vw, 3rem)) {
:root {
	--font-mob-32-to-24: clamp(1.5rem, -0.4543rem + 9.09vw, 2rem);
	--space-mob-24-to-16: clamp(1rem, -0.9543rem + 9.09vw, 1.5rem);
	--font-mob-18-to-24: clamp(0.875rem, -0.1032rem + 4.55vw, 1.125rem);
}
}