section.section.appart-section
	.container
		.row.align-items-start.g-5
			.col-12.col-lg-6
				+img("appart.png", 'Architecture detail', 'appart-section__image', false)
			.col-12.col-lg-6
				.appart-section__text
					p.typography-body-light-black The Al Futtaim name is part of the foundation of Dubai and the United Arab Emirates, recognised for trust, discretion, and enduring excellence. As one of the nation’s founding families, our heritage has shaped the regions evolution, creating landmarks that stand for mastery and permanence.
					p.typography-body-light-black This heritage is our foundation. It is the measure we build against and the standard we uphold. Our purpose is to look forward and to create works that carry meaning for the generations ahead. Every decision is deliberate and every detail is considered so that what we build will stand the test of time.
					p.typography-body-light-black We honour the responsibility that comes with our name. Just as those before us built to protect and serve their families, we build with the same care and intent, ensuring that what we create today becomes part of an enduring legacy.
		//- .row
		//- 	.col-12
		//- 		.appart-section__bottom

