section.section.heritage-section
	.heritage-section__bg-image
		+img("Operating Principles.png", 'Operating Principles Pattern', '', false)
	.container
		.row.align-items-center.g-5
			.col-12.col-lg-7.order-2.order-lg-1
				h2.typography-heading-gold.mb-40 Our heritage gives
					br
					| us strength, but our
					br
					| focus is firmly ahead.
				p.typography-body-light-black.mb-0 We invest in sectors and ideas that will stand the test of time, applying the same discipline to each new venture. Our Investment and Development Platform will grow through selected opportunities. Each is guided by the same principles, built with the same precision, and held to the same standard.
			.col-12.col-lg-5.order-1.order-lg-2
				.heritage-section__image-wrapper
					+img("heritage.png", 'Heritage image', 'heritage-section__image', false)
					p.heritage-section__quote.typography-small-white “We build with the future in mind, so every generation can stand on stronger ground.”

