section.section.long-term-view
	.long-term-view__bg-image
		+img("Operating Principles.png", 'Long Term View Background', 'long-term-view-bg', false)
	.container
		.row
			.col-12
				.long-term-view__content
					h2.long-term-view__title.typography-heading-gold
						| Our Guiding Principles
		.row.long-term-view__principles
			.col-12.col-md-6
				.long-term-view__principle
					.long-term-view__number.typography-body-roman-dark-blue 01
					.long-term-view__line
					p.typography-body-light-black-alt
						| Respect for people, place, and purpose
			.col-12.col-md-6
				.long-term-view__principle
					.long-term-view__number.typography-body-roman-dark-blue 02
					.long-term-view__line
					p.typography-body-light-black-alt
						| Clarity and discipline in every decision.
			.col-12.col-md-6
				.long-term-view__principle
					.long-term-view__number.typography-body-roman-dark-blue 03
					.long-term-view__line
					p.typography-body-light-black-alt
						| Long term value creation.
			.col-12.col-md-6
				.long-term-view__principle
					.long-term-view__number.typography-body-roman-dark-blue 04
					.long-term-view__line
					p.typography-body-light-black-alt
						| Standards that endure across generations.
