section.section.spotlight.spotlight--inner
    .spotlight__slides
        +img("spotlight-inner.png", 'Spotlight Inner Background', 'spotlight-bg', false)
    .container
        .row
            .col-12
                h1.typography-heading-white Investing in what lasts.<br>Building for what is next.

