section.section.strategic-focus
	.strategic-focus__bg-image
		+img("strategic-focus.png", 'Strategic Focus Background', 'strategic-focus-bg', false)
	.container
		.row.align-items-center.h-100
			.col-12
				h2.typography-heading-white Legacy is the promise
					br
					| of what comes next.

