section.section.heritage-section
	.heritage-section__bg-image
		+img("Operating Principles.png", 'Operating Principles Pattern', '', false)
	.container
		.row.align-items-center.g-5
			.col-12.col-lg-7.order-2.order-lg-1
				h2.typography-heading-gold.mb-40 A deliberate path 
					br
					| to lasting impact.
				p.typography-body-light-black We invest where our standards, discipline, and insight can make a measurable difference. From advanced infrastructure to new industries that will define tomorrow, we select opportunities with the potential to endure.
				p.typography-body-light-black.mb-0 Our work bridges tradition with innovation. It is rooted in values, but always forward in focus.
			.col-12.col-lg-5.order-1.order-lg-2
				.heritage-section__image-wrapper
					+img("deliberate.png", 'Heritage image', 'heritage-section__image', false)
					p.heritage-section__quote.typography-small-white “Every investment is a step towards the future we want to see.”

