section.section.spotlight.spotlight--inner
    .spotlight__slides
        +img("investing-carousel.png", 'Spotlight Inner Background', 'spotlight-bg', false)
    .container
        .row
            .col-12.col-md-6
                h1.typography-heading-white Investing in what lasts. Building for what is next.

