section.section.appart-section
	.container
		.row
			.col-12
				.appart-section__bottom.mt-0
					p.typography-body-light-black.mb-40 We focus on opportunities that shape the future and stand the test of time. Our approach blends heritage with a long term vision, creating value that will serve generations to come.
					p.typography-body-light-black Every decision is intentional. Every project is chosen for its potential to strengthen our name and contribute to lasting progress in the UAE and beyond.

