section.section.who-we-are
	.who-we-are__bg-image
		+img("shaping-the-feature.png", 'Founded Here Background', 'who-we-are-bg', false)
	.container
		.row.align-items-center
			.col-12.col-lg-8
				.who-we-are__content
					h2.who-we-are__title.typography-heading-white Shaping the <br> future with intent.
					p.who-we-are__description.typography-body-light-white
						| Our investments are chosen to strengthen communities, advance industries, and create opportunity for the generations to come. We act with the certainty that what we build today will hold its relevance tomorrow.