section.section.who-we-are
	.who-we-are__bg-image
		+img("founded-here.png", 'Founded Here Background', 'who-we-are-bg', false)
	.container
		.row.align-items-center
			.col-12.col-lg-8
				.who-we-are__content
					h2.who-we-are__title.typography-heading-white Founded here.<br> Felt everywhere.
					p.who-we-are__description.typography-body-light-white
						| Our presence begins in the UAE and extends across global markets. Each initiative is crafted to set benchmarks that others follow. Everything we create is made to last and to carry our standards forward.