section.services
  .container
    .services__grid
      // Card 1
      .service
        .service__icon
          +img("multi-emp.svg", 'One Number', 'service__img', false)
        h3.service__title One Number,
          |  Multiple Employees
        p.service__desc Route incoming calls to the right people instantly – teams answer from their own mobiles or soft phones.

      // Card 2
      .service
        .service__icon
          +img("look-prof.svg", 'Auto Attendant', 'service__img', false)
        h3.service__title Look Professional
          |  with Auto‑Attendant
        p.service__desc Greet callers with a branded IVR menu and smart options like hours, departments, and voicemail‑to‑email.

      // Card 3
      .service
        .service__icon
          +img("never-miss.svg", 'Never Miss', 'service__img', false)
        h3.service__title Never Miss a Call or
          |  Opportunity
        p.service__desc Failover, ring groups, and call queues ensure every call is answered or captured with context.

      // Card 4
      .service
        .service__icon
          +img("unified.svg", 'Unified Routing', 'service__img', false)
        h3.service__title Unified Business
          |  Line, Smart Routing
        p.service__desc Route incoming calls to the right people instantly – teams answer from their own mobiles or soft phones.

