section.simple#pricing
  .container
    .simple__row.relative
      .simple__media
      .simple__content
        h2.simple__title Simple, Transparent Pricing
        p.simple__desc Tell us about your team size and call volumes – we’ll tailor the perfect plan. No setup fees. Cancel anytime.
        .simple__cta
          a.btn.btn--primary(href="#contact") Get Your One Number Today

  .simple__row.simple__row-img
    .simple__media
      +img("simple-transp.png", 'Spotlight', 'hero__image', false)
    .simple__content
        //- +img("one-number.png", 'Spotlight', 'hero__image', false)