.hero {
  background: linear-gradient(90deg, #00A6EB 0%, #FF3182 100%);
  color: #fff;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1581 / 559;
  height: 100%;
  width: 100%;
}

.hero .container {
  padding: 56px 16px;
}

.hero__row {
  display: grid;
  grid-template-columns: 1.1fr .9fr;
  gap: 32px;
  align-items: center;
  &.relative {
    position: relative;
    z-index: 1;
  }
}

.hero__row-img {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;

}

.hero__title {
  font-family: $font-primary;
  font-weight: 700; // Bold
  font-style: normal;
  font-size: 44px;
  line-height: 120%;
  letter-spacing: 0;
  margin: 0 0 12px;
}

.hero__desc {
  font-family: $font-primary;
  font-weight: 500; // Medium
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  margin: 0 0 20px;
  opacity: .95;
}

.hero__cta {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.btn.btn--primary {
  background: #1A1F45;
  color: #fff;
  border: 1px solid transparent;
}

.btn.btn--primary:hover {
  background: #222C4E;
  border-color: #222C4E;
}

// Outline button to match design in hero
.btn.btn--light {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.85);
}

.btn.btn--light:hover {
  background: rgba(255, 255, 255, 0.12);
  border-color: #ffffff;
}

.hero__media {
  text-align: right;
  height: 100%;
  width: 100%;
}

.hero__image {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  // object-fit: fill;
}

@media (max-width: 992px) {
  .hero .container {
    padding: 40px 16px;
  }

  .hero__row {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}