.services {
  padding: 147px 0;


  @include media-breakpoint-down(lg) {
    padding: 100px 0;
  }
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
}

.service {
  text-align: center;
  color: #1A1F45;
}

.service__icon {
  height: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 12px;
}

.service__img {
  height: 118px;
  width: auto;
}

.service__title {
  font-family: $font-primary;
  font-weight: 700; // Bold
  font-style: normal;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0;
  margin: 8px 0 10px;
  color: #1A1F45;
}

.service__desc {
  font-family: $font-primary;
  font-weight: 500; // Medium
  font-style: normal;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0;
  margin: 0 auto;
  max-width: 280px;
  color: #1A1F45;
}

@media (max-width: 992px) {
  .services__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media (max-width: 600px) {
  .services__grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}