footer.footer
	.container
		.row.justify-content-between
			.col-12.col-lg-auto
				.d-flex.flex-column.flex-lg-row.align-items-lg-center
					p.typography-footer-white.copywright
						span.reserved © Tariq Al Futtaim. All rights reserved.
						span.d-none.d-md-inline.pl-2.pr-2 |
						//- span.d-md-inline.d-block Registered Foundation – <br class="d-md-none d-block">Dubai International Financial Centre
						a(href="privacy-policy.html").typography-footer-white.pr-20 Privacy Policy 
						a(href="terms-of-service.html").typography-footer-white Terms of Use
			//- .col-12.col-md-4.footer__links.justify-content-lg-between
			.col-auto
				a(href="https://www.linkedin.com/company/tariq-al-futtaim-family-office", target="_blank").footer__linkedin
					+img("linkedin.svg", 'LinkedIn', 'footer__linkedin-icon', false)
				a(href="https://www.linkedin.com/company/tariq-al-futtaim-family-office", target="_blank").footer__linkedin-blue
					+img("linkedin-blue.svg", 'LinkedIn', 'footer__linkedin-icon', false)

