$volksans: "volksans";

// Typography Colors
$typography-gold: #B3975F;
$typography-black: #1B1B1B;
$typography-white: #FFFFFF;
$typography-dark-blue: #1F2A45;

// Typography Font Family
$univers-font: "Univers LT Std", sans-serif;
// Centralized font families
$font-heading: "Amandine", "Gilroy", Arial, sans-serif;
$font-body: "Gilroy", Arial, sans-serif;