section.section.bg-off-white.font-dark-grey#industries
    .container
        .row
            div(class="flex flex-col justify-between items-center text-center !max-w-[1090px] m-auto")
                +heading("Governed by principle, delivered by people.", "h5", "font-blue mb-40")
                +heading("Registered as a foundation under DIFC law, TAF is governed by legal and structural discipline - separating decision making from personality and pressure.", "h3", "h3 mb-40")
                +heading("The Family Office oversees execution with clarity, accountability, and intent.", "h6", "h6 font-light-grey !font-light m-0")
            div(class="flex flex-col mt-40 mt-lg-80")
                +img("/taf-governance-image.jpg", "Operating Principles", "w-full max-h-[526px] min-h-[400px] object-cover grayscale", false)