section.section.statement#about
    .container
        .row
            div(class="grid grid-cols-4 lg:grid-cols-12 gap-10 lg:gap-8")
                div(class="flex flex-col justify-center items-center lg:items-end col-span-4 lg:col-span-5 lg:order-2")
                    +img("/taf-dummy.jpg", "Founder’s Statement", "w-full max-w-[392px] lg:max-w-[430px] h-[400px] lg:h-[500px] object-cover", false)
                div(class="flex flex-col justify-center col-span-4 lg:col-span-7 lg:order-1 lg:py-[110px]")
                    +heading("“What we build should matter. Not just now, but long after we’re gone. It should hold meaning, show care, and carry forward what we stand for.”", "h2", "m-0")
                    +heading("Tariq Al Futtaim, Founder", "h6", "mt-24 lg:mt-40 mb-0 image-text")