section.section.bg-off-white
  .container

    div(class="flex flex-col !w-full !max-w-[877px]")
      +heading("We are building something that lasts. <br> This is more than a role. It is a responsibility.", "h5", "font-blue mb-40")
      +heading("If you think in decades, and act with care, we invite you to express interest.", "h2", "m-0")
    div(class="grid grid-cols-12 gap-2 md:gap-6 mt-40 mt-lg-50")
      div(class="col-span-12 md:col-span-6 md:col-start-7 lg:max-w-[590px]")
        +paragraph("Legal, capital, operations, design, governance - if your expertise aligns, we’re listening.","font-light-grey mb-24 text-[16px] md:text-[20px] lg:text-[28px]")
        +link("mailto:careers@tariqalfuttaim.ae","careers@tariqalfuttaim.ae","underline")
    div(class="flex flex-col mt-40 mt-lg-80")
      +img("/taf-purpose-image.png", "work with purpose", "w-full max-h-[564px] min-h-[400px] object-cover grayscale", false)