// Landing Header (static)
header.header
    .container
        .row.align-items-center.header__row
            .col-6.col-md-2
                a.header__logo(href="/")
                    +img("Logo.svg", 'Logo', 'logo-full', false)

            .col-12.col-md-7
                nav.header__nav
                    a.header__link(href="#features") Features
                    a.header__link(href="#how") How It Works
                    a.header__link(href="#pricing") Pricing
                    a.header__link(href="#contact") Contact

            .col-12.col-md-3.text-md-end
                .header__actions
                    a.btn.btn--primary(href="") Recharge
                    a.btn.btn--primary(href="") Login